body * {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

nav {
  font-weight: 700;
}

header {
  background-image: url('../img/header-compu.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  padding-bottom: 20rem;
  font-family: 'PT Serif', serif;
}

header h1 {
  color: rgba(92, 92, 92, 0.44);
  font-size: 96px;
  margin-bottom: 3rem;
}

header h3 {
  /* color: #ffc340; */
  color: #dbb779;
}

h2 {
  font-size: 72px;
}

.logo {
  font-family: 'Covered By Your Grace', cursive;
  /* color: #ffc340; */
  color: #6bcabb;
}

.skills {
  /* height: 448px; */
  background: #6bcabb;
  color: white;
  padding: 40px 0px 40px 0px;
}

/* .skills h2 {
  font-weight: 700;
} */

footer {
  background: #6bcabb;
  color: white;
}

.boton_habilidad {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  color: #6bcabb;
  background: white;
  width: 175px;
}

/* Sección Media Queries */

@media only screen and (min-width: 992px) {
  .modal1 {
    padding-left: 30%;
  }

  .contacto {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 991px) {

  .modal1 {
    padding-left: 20%;
  }


  header {
    padding-bottom: 14rem;
  }

  header h1 {
    font-size: 68px;
  }

  header h3 {
    font-size: 23px;
  }

  h2 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 576px) {
  h1.font-weight-bold {
    /* border: 1px black solid; */
    font-size: 45px;
    margin-bottom: 1rem;
  }

  h3.my-2 {
    font-size: 20px;
  }

  .dev {
    padding-bottom: 75px;
  }

  header {
    background-size: cover;
    background-position: center;
  }

  h2 {
    font-size: 35px;
  }

  .modal1 {
    padding-left: 17%;
    padding-bottom: 5%;
  }

  .modal2 {
    padding-left: 17%;
    padding-bottom: 5%;
  }

  article {
    margin-bottom: 10px;
  }
}