body * {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

nav {
  font-weight: 700;
}

header {
  background-image: url('../img/header-compu.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  padding-bottom: 25rem;
  font-family: 'PT Serif', serif;
}

header h1 {
  color: rgba(92, 92, 92, 0.44);
  font-size: 96px;
  margin-bottom: 3rem;
}

header h3 {
  /* color: #ffc340; */
  color: #dbb779;
}

h2 {
  font-size: 72px;
}

.logo {
  font-family: 'Covered By Your Grace', cursive;
  /* color: #ffc340; */
  color: #6bcabb;
}

/* CSS - typwwritter */
.console-container {
  font-size: 2em;
  text-align: right;
}
.console-underscore {
  display: inline-block;
  position: relative;
}
/* Fondo de texto para verse en varios tamaños de pantalla */
span#text {
  background-color:#f7f7f7;
}
/* Fin CSS - typwwritter */

.skills {
  /* height: 448px; */
  background: #6bcabb;
  color: white;
  padding: 100px 0px 100px 0px;
}

footer {
  background: #6bcabb;
  color: white;
}

.boton_habilidad {
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  color: #6bcabb;
  background: white;
  width: 175px;
}

.presentation {
  text-align: justify;
}

/* Sección Media Queries */

@media only screen and (min-width: 992px) {
  .modal1 {
    padding-left: 30%;
  }

  .contacto {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 991px) {

  .modal1 {
    padding-left: 20%;
  }

  header {
    padding-bottom: 14rem;
  }

  header h1 {
    font-size: 68px;
  }

  header h3 {
    font-size: 23px;
  }

  h2 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 576px) {
  h1.font-weight-bold {
    /* border: 1px black solid; */
    font-size: 45px;
    margin-bottom: 1rem;
  }

  h3.my-2 {
    font-size: 20px;
  }

  .dev {
    padding-bottom: 75px;
  }

  header {
    background-size: cover;
    background-position: center;
  }

  h2 {
    font-size: 35px;
  }

  .modal1 {
    padding-left: 17%;
    padding-bottom: 5%;
  }

  .modal2 {
    padding-left: 17%;
    padding-bottom: 5%;
  }

  article {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .parrafo1 {
    margin-bottom: 40px;
  }
}

/* SOBRE MÍ */

.sobremi {
  background-color: #b9f6ee;
  padding: 50px 0px;
  text-align: center;
}

.sobremi_content {
  background-color: #dbb779 !important;
  color: #fff;
  padding: 30px 50px;
  text-align: left;
}

.sobremift {
  height: 190px;
  width: 190px;
  border-radius: 50%;
}

.bg-polaroid {
  background-color: #b9f6ee !important;
}

p.sobremi__texto {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin: 20px 0px;
}

.fondotexto {
  background-color: #ffffff;
  padding: 10px;
  font-size: 0.90rem;
  text-align: left;
}

.button_cv_content {
  display: flex;
  justify-content: center;
}

.button_cv {
  width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 5px 10px 20px #888888;
}
.button_cv a {
  text-decoration: none;
  color: white !important;
  font-size: 1.3rem;
}

.btn-secondary {
  background-color: #d69c37 !important;
  color: #ffffff !important;
  border-radius: 0% !important;
  margin-bottom: 20px;
  text-decoration: none;
  height: 3rem;
  border-color: #d69c37;
}

.btn:hover {
  background-color: #bafdef !important;
}

.card {
  border-radius: 0%;
}

.card-img-top {
  border-radius: 0%;
}

.card-title {
  color: #6bcabb;
  font-weight: 700;
  text-align: left;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  text-align: left;
}

.card-polaroid {
  background-color: #fff;
  height: auto;
  width: auto;
  margin: 50px;
  box-shadow: 15px 15px 0px rgba(92, 92, 92, 0.44);
}

.card-title {
  color: #000000;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.card-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.icon-polaroid {
  color: rgba(92, 92, 92, 0.44);
  height: 40px;
  width: 40px;
}

/* ------------------------------------------ */

/* SKILLS */
.iconex {
  padding: 40px 30px;
}

.skills {
  text-align: center;
  padding: 30px 0px 60px 0px;
}

/* @media only screen and (min-width: 768px and max-width: 991px){
  .button_cv_texto {
    font-size: 1.1rem;
  }
} */